img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageHolder {
    display: flex;
    justify-content:space-around; 
}

.card-body, .card-header {
    padding: 20px;
}

.deleteBtn {
    margin-left: 20px;
}